---
# https://raw.githubusercontent.com/kubernetes/kubernetes/v1.9.2/cluster/addons/fluentd-elasticsearch/es-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-logging
  namespace: "{{ system_namespace }}"
  labels:
    k8s-app: elasticsearch-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "Elasticsearch"
spec:
  ports:
  - port: {{ elasticsearch_service_port }}
    protocol: TCP
    targetPort: db
  selector:
    k8s-app: elasticsearch-logging