---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kubernetes-dashboard
  namespace: "{{ system_namespace }}"
  annotations:
    kubernetes.io/ingress.class: "traefik"
spec:
  rules:
  - host: "{{ kubernetes_dashboard_subdomain }}.{{ traefik_public_cluster_domain|default(cluster_name) }}"
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 8443