---
# https://raw.githubusercontent.com/kubernetes/kubernetes/v1.9.2/cluster/addons/fluentd-elasticsearch/kibana-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: "{{ system_namespace }}"
  labels:
    k8s-app: kibana-logging
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "Kibana"
spec:
  ports:
  - port: {{ kibana_service_port }}
    protocol: TCP
    targetPort: ui
  selector:
    k8s-app: kibana-logging